<header>
  <div class="headline">
    <h1>Bates Student Kiosk<bh1>
  </div>

  <p class="phone">
    <a href="tel:1-253-680-7055">Student Help Desk</a>
  </p>

</header>
<div class="headline">
  <h2>Main</h2>
</div>

  <ul class="main_field">

    <li class="button">
      <%= link_to "Canvas",
      'https://bates.instructure.com/login',
      target: 'self' %>
    </li>

    <li class="button">
      <%= link_to "Email",
      'https://mail.bates.ctc.edu/',
      target: 'self' %>
    </li>

    <li class="button">
      <%= link_to "Schedule",
      'https://wts.bates.ctc.edu/student/waci003.html',
      target: 'self' %>
    </li>

    <li class="button">
      <%= link_to "Change Pin",
      'http://www.bates.ctc.edu/current-students/mybates-kiosk/change-my-pin',
      target: 'self' %>
    </li>

    <li class="button">
      <%= link_to "Pay Tution",
      'https://www.ctc.edu/~bates/wccba/',
      target: 'self' %>
    </li>

    <li class="button">
      <%= link_to "Change Address",
      'https://wts.bates.ctc.edu/student/stuaddr/waci203.html',
      target: 'self' %>
    </li>

    <li class="button">
      <%= link_to "Unofficial Transcript",
      'https://wts.bates.ctc.edu/student/waci002.html',
      target: 'self' %>
    </li>

    <li class="button">
      <%= link_to "Get My Studet ID",
      'http://www.bates.ctc.edu/current-students/mybates-kiosk/get-my-student-id',
      target: 'self' %>
    </li>

    <li class="button">
      <%= link_to "Official Transcript",
      'http://www.bates.ctc.edu/Documents/Student%20Services/Registration/TranscriptRequestfrm.pdf',
      target: 'self' %>
    </li>

    <li class="button">
      <%= link_to "IRS Tution Statment",
      'http://www.bates.ctc.edu/current-students/mybates-kiosk/get-my-irs-tuition-statement-1098t',
      target: 'self' %>
    </li>

    <li class="button">
      <%= link_to "Other Student Services",
      'http://www.bates.ctc.edu/forms',
      target: 'self' %>
    </li>

    <li class="button">
      <%= link_to "Parking Permit",
      'https://cesi.reportexecdirect.com/bates/CESIReportExec/opr/OPRMain.aspx?IsAuth=1&groupid=102',
      target: 'self' %>
    </li>


  </ul>

<div class="headline">
  <h2>Other</h2>
</div>

<ul class="lower_field">

  <li class="lower_button">
    <%= link_to "Class Schedule",
    'http://www.bates.ctc.edu/ClassSchedule',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Assessment & Testing",
    'http://www.bates.ctc.edu/Testing',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Campus Stores",
    'http://www.bates.ctc.edu/CampusStores',
    target: 'self' %>
  </li>

  <li class="lower_button"> <%= link_to "Child Care",
    'http://www.bates.ctc.edu/ChildCare',
    target: 'self' %>
  </li>

  <li class="lower_button"> <%= link_to "Career Advising",'
    http://www.bates.ctc.edu/Advising',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Disability Support",
    'http://www.bates.ctc.edu/DisabilitySupportServices',
    target: 'self' %>
  </li>

  <li class="lower_button"> <%= link_to "Diversity Center",
    'http://www.bates.ctc.edu/diversity',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Financial Aid",
    'http://www.bates.ctc.edu/FinancialAid',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Job Service Center",
    'http://www.bates.ctc.edu/JobServices',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Library",
    'http://www.bates.ctc.edu/Library',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Registration Office",
    'http://www.bates.ctc.edu/registration',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Tutoring Center",
    'http://www.bates.ctc.edu/tutoring',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Veterans Center",
  'http://www.bates.ctc.edu/Veterans',
  target: 'self' %> </li>

  <li class="lower_button">
    <%= link_to "Workforce Services",
    'http://www.bates.ctc.edu/WES',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Registration Forms",
    'http://www.bates.ctc.edu/registration',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Academic Progress Policy",
    'http://www.bates.ctc.edu/Documents/Student%20Services/SAP%20Policy.pdf',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Student Resources",
    'http://www.bates.ctc.edu/current-students',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Student Handbook",
    'http://www.bates.ctc.edu/Documents/Student%20Services/studenth&bookupdatedNEW.pdf',
    target: 'self' %>
  </li>

  <li class="lower_button">
    <%= link_to "Request Official Transcript",
    'http://www.bates.ctc.edu/Documents/Student%20Services/Transcript%20Request%20Jan%202012.pdf',
    target: 'self' %>
  </li>
</ul>
</div>

<footer>
  <div>
    <p class="inline">mobile friendly</p>
    <p class="inline">no cookies</p>
    <p class="inline">no tracking</p>
  </div>
</footer>
