<!DOCTYPE html>

<html>
  <head>

    <title>Home | Better Bates Kiosk </title>
  </head>
  <body>
    <h1>Better Bates Kiosk</h1>
    <p>This sit is an attempt to create a more usable version of the myBates kiosk.</p>
  </body>
</html>


