html
  padding: 0
  margin: 0
  border: 0
  max-width: 100vw
  min-height: 100vh
  box-sizing: border-box
  min-width: 95vw
  background: linear-gradient(to bottom, rgba(179,220,237,0.71) 0%, rgba(41,184,229,0.77) 50%, rgba(65,102,160,1) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#4166a0', GradientType=0 )
body
  padding-bottom: 1vh
  height: auto
  p.phone
    margin: 0
    padding: 0
    text-align: center
    font-weight: bold
    font-family: sans-serif
    font-size: 3.5vh
    a
      margin: 0 2vw
      text-decoration: none
h1, h2
  font-variant: small-caps
footer
  margin: auto
  text-align: center
  div
    margin: auto
    display: flex
    justify-content: space-between
    p.inline
      margin: auto
      text-align: center
      font-variant: small-caps
      letter-spacing: .15vw
      font-size: 3vw
.headline, .button, .field
  box-sizing: border-box
  margin: 0
  padding: 0
  border: 0
.headline
  margin: 3vh auto 0 auto
  h1
    font-variant: small-caps
    font-size: 5vw
    margin-bottom: .75vh
    padding: .5vh 0 .25vh 0
    text-align: center
    color: #253975
  h2
    font-size: 3.75vw
    padding: .1vh 0 0 0
    margin: 0
    text-align: center
    color: #253975
.main_field
  border: 0
  padding: 0
  margin: 0 auto
  text-align: center
  .button
    ul
    li
    box-shadow: -3px -3px 2px -2px silver
    inner-shadow: -3px -3px 5px -1px silver
    background-color: #153975
    border-radius: 15px
    display: inline-block
    width: 25vw
    margin: 1vh 1vw
    text-align: center
    a
      margin: 0
      display: block
      padding: 1vh 1vw
      text-decoration: none
      font-size: 2.4vw
      color: white

.lower_field
  padding: 2vh 0
  margin: 0 auto
  text-align: center
  .lower_button
    box-shadow: -3px -3px 2px -2px silver
    inner-shadow: -3px -3px 5px -1px silver
    background-color: #153975
    border-radius: 15px
    display: inline-block
    width: 25vw
    margin: 1vh 1vw
    text-align: center
    a
      display: block
      padding: .95vh 1vw
      text-decoration: none
      font-size: 2vw
      color: white

@media only screen and (max-width : 1060px)
  .main_field
    .button
      width: 40vw
  .lower_field
    .lower_button
      width: 33vw

@media only screen and (max-width : 850px)
  .main_field
    .button
      width: 35vw
      a
        letter-spacing: .65vw
  .lower_field
    text-align: center
    .lower_button
      width: 40vw
      margin: .75vh 2vw
      a
        text-align: center
        font-size: 2vw
        font-variant: small-caps
        padding: 1vw
        font-weight: 500
        letter-spacing: .55vw

@media only screen and (max-width : 550px)
  .headline
    h1
      font-size: 2em
    h2
      font-size: 1.75em
  .main_field
    text-align: center
    .button
      width: 95vw
      margin: 3vh auto
      a
        font-size: 9vw
  .lower_field
    text-align: center
    .lower_button
      width: 90vw
      height: auto
      margin: 2vh auto
      a
        text-align: center
        font-size: 7vw
        font-variant: small-caps
        padding: 1vh
        font-weight: 500
        letter-spacing: .55vw
