<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%> </title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
